.main_chat
  .main_chat_group_tab
    .main_chat_group_tab__test
      = @group.name
    .main_chat_group_tab__member
      Member : 
      - @group.users.each do |m|
        = m.name
    .main_chat_group_tab__right
      = link_to 'Edit', edit_group_path(@group.id), class: "edit__btn"
  .main_chat_list
    = render @messages
  = form_for [@group, @message], html: {class: "main_chat_form"} do |f|
    .main_chat_form__border
      .main_chat_form__border__message
        = f.text_field :content, placeholder: "type a message", class: "message"
      .main_chat_form__border__picture
        = f.label :image, class: "image__btn" do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image
    .main_chat_form__send
      .main_chat_form__send__input
        = f.submit "Send", class: "send"


-# input全ての親となるような場所にform_forを記述
-# input要素をformfor用の記述に変更する
-# クラス名を元の記述に合わせる
